@define-color accent #be95ff;


* {
    transition: none;
    font-family: "Inter", "JetBrainsMono NF";
    font-size: 14px;
    color: #f2f4f8; /* foreground */
}

#waybar {
    background-color: alpha(#222222, 0.6);
    border-radius: 0px;
    border-bottom: solid 2px #ffffff;
}

.modules-left, .modules-right {
    border-radius: 0px;
    border-top: none;
    border: none;
    background-color: transparent;
}

tooltip {
    border-radius: 12px;
    background-color: rgba(15, 17, 26, 0.9); /* background */
    border: 1px solid rgba(82, 82, 82, 0.5); /* bright0 */
    color: #f2f4f8;
}

#custom-apple {
    margin: 0px 1px 0px 10px;
    padding: 0px 6px;
    background-color: transparent;
    border-radius: 10px;
    min-width: 15px;
}

#workspaces button {
    transition: ease-in-out 0.2s;
    padding: 0px 3px;
    border: solid 2px transparent;
    color: alpha(#f2f4f8, 0.5);
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
}

#workspaces button:hover {
    box-shadow: none;
    font-weight: normal;
    background-image: none;
    border-color: #ffffff;
    background-color: transparent;
}

#workspaces button.active {
    color: #f2f4f8;
    border-color: #ffffff;
    background-color: transparent;
}

#tray {
    margin: 0px 2px;
    border-radius: 0px;
}

#tray menu {
    background-color: rgba(15, 17, 26, 0.95);
}

#tray * {
    padding: 0px 6px;
}

#mode,
#battery,
#cpu,
#network,
#pulseaudio,
#backlight,
#clock {
    padding: 0px 6px;
    border-radius: 20px;
    min-width: 10px;
    background-color: transparent;
}

#battery.charging {
    color: #42be65; /* green */
}

#custom-power {
    margin: 0px 5px 0px 1px;
    padding: 0px 6px;
    background-color: transparent;
    border-radius: 10px;
    min-width: 15px;
}

#cpu, #memory, #bluetooth, #custom-spotlight, #network, #custom-apple {
    color: @accent;
}

#clock {
    margin-right: 10px;
}
