@define-color base00             #080808;  /* surface */
@define-color bg01               #262626;  /* base */
@define-color base02             #26233a;  /* overlay */
@define-color bg03               #525252;  /* muted */
@define-color base04             #908caa;  /* subtle */
@define-color base05             #e0def4;  /* text */
@define-color base06             #f0f0f3;  /* love/fallback light */
@define-color base07             #9ccfd8;  /* foam */

@define-color red                #ff4f00;  /* love */
@define-color orange             #ff6f00;
@define-color peach              #ea9a97;  /* rose */
@define-color yellow             #ffab91;  /* gold */
@define-color green              #42be65;  /* pine */
@define-color teal               #9ccfd8;  /* foam */
@define-color magenta            #673ab7;  /* iris */
@define-color bright_magenta     #be95ff;  /* highlight (approx violet) */
@define-color flamingo           #ebbcba;  /* highlight (rosewater) */

@define-color fg        @base05;
@define-color bg        @base00;
@define-color accent    @blue;

* {
    font-family: "JetBrains Mono NF";
    font-size: 15px;
    font-weight: 600;
    color: @red;
    text-shadow: none;
    outline: none;
    box-shadow: none;
    border: none;
}

#waybar {
    background-color: alpha(@bg, 1);
}

.modules-left, .modules-center, .modules-right {
    background-color: transparent; /* base00 with opacity */
    border-radius: 0px 0px 0px 0px;
    margin-top: 0px;
    box-shadow: none;
    transition: all .4s ease;
}

.modules-left {
    margin-top: 10px;
    background-color: transparent;

}

.modules-right {
    margin-bottom: 15px;
}

.modules-center {
    background-color: transparent;
}

tooltip {
    border-radius: 10px;
    background-color: rgba(24, 24, 37, 1); /* base01 with opacity */
    border: solid 2px @accent;
}

#custom-apple {
    margin-left: -5px;
    font-size: 24px;
    color: @red;
    padding: 0px 0px;
}

#workspaces {
    margin: 0 5px 0px 0px;
    background-color: transparent;
    border-radius: 0px 0px 0px 0px;
}

#workspaces button {
    font-size: 5px;
    border-radius: 8px;
    padding: 0px;
    padding-right: 0px;
    background-image: none;
    transition: all .4s ease;
}

#workspaces button * {
    transition: all .3s ease;
    border: solid 0px transparent;
    box-shadow: transparent;
    outline: transparent;
}

#workspaces button.empty * {
    color: alpha(@red, 0.2);
}

#workspaces button.active * {
    color: @red;
}

#workspaces button:hover * {
    color: @red;
}

#tray {
    margin: 0px 2px;
    margin-top: 4px;
    border-radius: 0px;
}

#tray menu {
    background-color: rgba(255, 222, 222, 1);
}

#tray * {
    padding: 0 0px;
}

#mode,
#battery,
#cpu,
#network,
#memory,
#custom-spotlight,
#bluetooth,
#pulseaudio,
#backlight,
#clock {
    margin: 10px 0px;
    padding: 0px 5px;
    border-radius: 20px;
    background-color: transparent;
}

#clock {
    margin-left: 5px;
    margin-right: 5px;
    color: @red;
}

#cpu, #memory, #bluetooth, #network, #custom-spotlight, #temperature {
    color: @fg;
    transition: all .4s ease;
}

#clock:hover,
#custom-notification:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#custom-finder:hover,
#custom-spotlight:hover {
    color: @peach;
}

#battery {
    padding: 0px 0px;
    transition: all .3s ease;
    color: @fg;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging),
#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.charging.full {
    color: @peach;
}

@keyframes blink {
    to {
        color: @fg;
    }
}

#custom-cava {
    margin: 0px 10px;
}

#mpd {
    color: @fg;
    margin-top: 5px;
        font-size: 0px;
}

#cpu {
    color: alpha(@red, 0.6);
}

#memory {
    color: alpha(@red, 0.6);
}

#network {
    color: alpha(@red, 0.6);
}

#temperature {
    color: alpha(@red, 0.6);
}

