* {
    color: #dde1e6;
    font-size: 16px;
    font-family: "Inter"
}

window {
    padding: 20px;
    border-radius: 0px;
    background-color: alpha(#161616, 1);
    border: solid 4px #262626;
    box-shadow: 0px 0px 0px 3px #161616;

}

#input {
    margin: 25px;
    border-radius: 0px;
    background-color: alpha(#262626, 1);
    border: solid 2px #262626;
    color: #dde1e6;
}

image {
    color: #262626;
}

#input:focus {
    box-shadow: none;
}

#entry {
    margin: 0px 25px 16px 25px;
    border-radius: 15px;
}

#entry:selected {
    background-color: #161616;
    border: none;
    margin-left: 55px;
}

#entry:selected #text {
    color: #ff6f00;
}

#entry:focus, #entry:active {
    box-shadow: none;
    outline: none;
    border: none;
}

*:focus, *:active {
    color: inherit;
}

#unselected {
    margin-left: 30px;
}


scrollbar {
    opacity: 0;
    min-width: 0px;
    min-height: 0px;
}
