* {
    color: #ebdbb2;
    font-size: 16px;
    font-family: "Inter"
}

window {
    padding: 20px;
    border-radius: 15px;
    background-color: alpha(black, 0.2);
    border: solid 2px #ebdbb2;
}

#input {
    margin: 25px;
    border-radius: 15px;
    background-color: alpha(black, 0.4);
    border: solid 2px #ebdbb2;
    color: #ebdbb2;
}

image {
    color: #ebdbb2;
}

#input:focus {
    box-shadow: none;
}

#entry {
    margin: 0px 25px 16px 25px;
    border-radius: 15px;
}

#entry:selected {
    background-color: transparent;
    border: none;
    margin-left: 55px;
}

#entry:selected #text {
    color: #fabd2f;
}

#entry:focus, #entry:active {
    box-shadow: none;
    outline: none;
    border: none;
}

*:focus, *:active {
    color: inherit;
}

#unselected {
    margin-left: 30px;
}


scrollbar {
    opacity: 0;
    min-width: 0px;
    min-height: 0px;
}
