* {
    color: #d0d0d0;
    font-family: "JetBrains NF"
}

window {
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 15px;
}

#input {
    font-size: 24px;
    margin: 25px;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.1);
    border: solid 3px rgba(0,0,0,0.2);
    color: #d0d0d0;
}

image {
    color: red;
}

#input {
    fill: red;
}

#input:focus {
    box-shadow: none;
}

#entry {
    margin: 0px 25px 16px 25px;
    border-radius: 15px;
    font-size: 24px;
}

#entry:selected {
    background-color: transparent;
    border: none;
    color: #ff0000;
    margin-left: 55px;
}

#entry:selected #text {
    color: red;
}

#entry:focus, #entry:active {
    box-shadow: none;
    outline: none;
    border: none;
}

*:focus, *:active {
    color: red;
}

#unselected {
    margin-left: 30px;
}


scrollbar {
    opacity: 0;
    min-width: 0px;
    min-height: 0px;
}
