Config(
  ignored: [], 
  directories: [
    WatchDir(
      path: "/home/gero/Documents/tec", 
      recurse: true, 
      ignored: [], 
    ),
    WatchDir(
      path: "/home/gero/Downloads", 
      recurse: true, 
      ignored: [], 
    ),
    WatchDir(
      path: "/home/gero/Desktop", 
      recurse: true, 
      ignored: [], 
    ),
  ],
)
