Config(
  ignored: [], // A list of patterns to be ignored in all directories
  directories: [
    WatchDir(
      path: "/home/gero/Documents/tec", // The root folder to be indexed
      recurse: true, // Recursively index and watch all subfolders
      ignored: [], // Ignore patterns specifically for this directory
    ),
    WatchDir(
      path: "/home/gero/Downloads", // The root folder to be indexed
      recurse: true, // Recursively index and watch all subfolders
      ignored: [], // Ignore patterns specifically for this directory
    ),
    WatchDir(
      path: "/home/gero/Music", // The root folder to be indexed
      recurse: true, // Recursively index and watch all subfolders
      ignored: [], // Ignore patterns specifically for this directory
    ),
    WatchDir(
      path: "/home/gero/Desktop", // The root folder to be indexed
      recurse: true, // Recursively index and watch all subfolders
      ignored: [], // Ignore patterns specifically for this directory
    ),
  ],
)
