entry {
/* border-radius: 20px 20px 0px 0px; */
border-radius: 20px 5px 0px 0px;
min-height: 40px;
background-color: alpha(#191724, 1);
color: alpha(#c4a7e7, 1);
border: solid 3px alpha(#c4a7e7, 1);
border-bottom: none;
font-size: 22px;
box-shadow: none;
} 

entry:focus {
  outline: none;
}


window {
    background: transparent;
}


list {
border-radius: 0px 0px 20px 5px;
background-color: alpha(#191724, 1);
min-height: 20px;
/* border: solid 4px alpha(#c4a7e7, 0.6); */
border: solid 3px alpha(#c4a7e7, 1);
border-top: none;
margin-bottom: 6px;
}

list list {
box-shadow: none;
border-radius:0px;
background-color: transparent;
border: none;
}

#match {
  background-color: transparent;
  padding: 2px;
  margin: 0px 6px 0px 6px;
  border-radius: 8px;
}

#match:selected {
  background-color: alpha(#c4a7e7, 0.2);
}

#plugin label, #plugin image {
	color: alpha(#c4a7e7, 0.8);
}

#plugin image {
	margin-left: 10px;
}
